@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
}

body {
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
}

a.linkbox:hover {
  color: aquamarine;
}